boto3
psycopg2-binary
Pillow
python-dotenv
pandas==2.3.3
matplotlib==3.10.9
reportlab==5.0.0
pypdf==6.16.0
alembic==1.19.1
Flask
openpyxl
Flask-Login
PyJWT==2.8.0
bcrypt==4.1.2
user-agents==2.2.0
pyotp==2.9.0
qrcode==7.4.2
cryptography==41.0.3